@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
	align-content: center;
	font-family: 'Raleway', sans-serif;
}
form {
	background-color: #009;
	padding: 5px;
	margin: 20px;
	border-color: #000;
	border-style: solid;
	border-radius: 10px;
}
input {
	color: #cfb;
	background-color: #004;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #002;
}
#editor {
	width: 80%;
	height: 400px;
}